<div id="movies">

  <h1 id="h1-movies">IronHack Cinema</h1>
  <p id="p-movies">Click on the movie to check the showtimes!</p>

  <div id="movies-info">
    {{#each this.movies}}

    <img src="{{this.image}}" alt="{{this.title}} poster" height="300px">

    <h3>{{this.title}}</h3>

    <a href="/movies/{{this._id}}">See more</a>

    {{/each}}
  </div>

</div>